# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.venv/

# Temp audio files from yt-dlp
*.mp3
*.wav
*.webm

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/